.box#notices
  .tools
    %a{:href => mark_all_notices_read_path, :class => :btn, "data-disable-with" => "标记所有为已读...", "data-method" => :put, "data-remote" => :true}
      = "标记所有为已读"
    %h1.pull-right="Notices"
  - @notices.each do |notice|
    = render :partial => "users/notices/notice", :locals => {:notice => notice}
  = will_paginate(@notices)
/#resource_list notice from_user
/                        to_user
/                        notice_resource  may_be [Reply, Entry, and so on..]