<div class="box">
  <div class="cell">
    <strong>JLU-Zone</strong><br>
    <span>Jluer自己的社区</span>
    <hr>
  </div>
  <div class="inner">
    <div align="center">
      <a href="/users/sign_up" class="btn">现在注册</a><br><br>
      已注册用户请
      <a href="/users/sign_in">登入</a>
    </div>
  </div>
</div>