.box
  - if current_user
    .row
      .span2
        %img{:src => gravatar(current_user.email), :style => "width:120px;height:120px;"}
      .span8
        = simple_form_for @resource.replies.new, :url => replies_path(:resource_id => @resource.id, :resource_type => @resource.model_type), :remote => true do |f|
          .control-group
            #editor-button-bar
            .text-content-area
              = f.input :content, :label => false, :input_html => { :id => "editor-input" }
            #editor-preview
          .control-group
            = content_tag(:button, itext("submit"), :class => "btn btn-success", :type => :submit) 
        =render "/replies/edit_help"
  - else
    = need_login_in_field