#reply_total
  = t("until")
  - subject.reload
  = time_ago(subject.created_at)
  - if subject.replies.size != 0
    = itext("reply.received", :count => subject.replies_num)
  - else
    = itext("reply.unreceived")