<% if @resource.replies.size != 0 %>
<section class="box no-padding" id="replies">
<table class="item-list">
<tbody>
<% @resource.replies.each do |reply|%>
<%= render :partial => "replies/reply", :locals => {:reply => reply} %>
<% end %>
</tbody>
</table>
</section>
<% else %>
<section class="box no-padding"  id="replies">
<table class="item-list">
<tbody>
<tr id="no-reply">
<td>
<%= no_replies%>
<td>
<tr>
</tbody>
</table>
</section>
<% end %>