.box
  - if current_user
    .row
      .span2
        %img{:src => gravatar(current_user.email, 120)}
      .span6
        = form_for @reply do |f|
          = form_error_messages(@reply)
          .control-group
            .text-content-area
              = f.text_area :content
          .control-group
            = content_tag(:button, itext("submit"), :class => "btn btn-success", :type => :submit)