.box#print_form
  = form_for @print do |f|
    = f.select :print_house_id, PrintHouse.all.collect {|p| [ p.name, p.id ] }


    = f.submit '提交'

  /   / #print_items

  /   / .template.hide
  /   /   = f.fields_for :print_items, @print.print_items.new, :child_index => 'new_print_item_index' do |item|
  /   /     = item.text_field :format
  /   /     = item.fields_for :files, :child_index => 'new_print_file_index' do |file|
  /   /       = file.file_field :file
  /   /       = file.file_field :file

  / %button.btn#add_button{:type => :button}
  /   添加