.box
  = generate_models_table(@users, [:id,:nickname], {:admin_permission => :on, :wiki_permission => :on, :community_permission => :on, :photo_permission => :on, :lock_or_unlock => :on})
= will_paginate @users