.box
  只能用吉大邮箱注册
  = form_tag start_send_email_path, method: :post do
    // 此处需要自定义浏览器检验信息的文案
    = text_field_tag :email, nil, placeholder: :请输入你的吉大邮箱, required: :required#, pattern: '\w+[0-9]{4}'
    @jlu.edu.cn
    = button_tag
