ActionMailer::Base.delivery_method = :smtp
ActionMailer::Base.smtp_settings = {
  :enable_starttls_auto => true,
  :address => 'smtp.XXX.com',
  :port => 587,
  :domain => 'www.XXX.com',
  :authentication => :login,
  :user_name => 'XXX@XXX.com',
  :password => "XXXX"
}
