.box.score_info
  %h2.title
    = itext("user.user_score")
  %ul
    %li
      %span=itext("user.user_honor")
      %strong= render_user_honor
    %li
      %span=itext("user.user_exp")
      = render_user_score_bar