.box
  最近发帖
  - @user.topics.order("created_at desc").each do |topic|
    = topic.name

.box
  最近回复
  - @user.replies.order("created_at desc").each do |reply|
    = reply.resource.name

.box
  收藏帖子
  - @user.followed_topics.each do |topic|
    = topic.name