<div class="box" id="user_menu">
  <header>
    <%= show_active_users_info%>
  </header> 
  <ul class="users-list">
    <% @users.each do |user| %>
    <%= show_user_tag(user)%>
    <% end %>
  </ul>
</div>

<div class="box" id="user_menu">
  <header>
    <%= show_new_users_info%>
  </header>
    <ul class = "users-list">
    <% @users.each do |user| %>
    <%= show_user_tag(user)%>
    <% end %>
  </ul>
</div>