<div class="well" id="user_menu">
  <div class="info">
    <%= show_active_users_info%>
  </div>
  <div class="row">
    <ul class = "users-list">
    <% @users.each do |user| %>
    <%= show_user(user)%>
    <% end %>
  </ul>
  </div>
</div>

<div class="well" id="user_menu">
  <div class="info">
    <%= show_new_users_info%>
  </div>
  <div class="row">
    <ul class = "users-list">
    <% @users.each do |user| %>
    <%= show_user(user)%>
    <% end %>
  </ul>
  </div>
</div>