<div class="box">
  <div class="userinfo">
    <div class="pull-right" style="text-align:center;">
      <img src=<%= gravatar(@user.email, 120)%> style="width:120px;height:120px;">
    </div>
    <ul>
      <li><span>&nbsp;</span>第 917 位会员</li>
      <li><span>ID:</span><strong>hhuai</strong></li>
      <li><span>城市:</span><a href="/users/location/%E9%95%BF%E6%B2%99">长沙</a></li>
      <li><span>加入时间:</span>2012年2月05日</li>
      <li><span>加入时间:</span>2012年2月05日</li>
      <li><span>加入时间:</span>2012年2月05日</li>
    </ul>
  </div>
</div>

<%= render "users/user_activities"%>