.box
  = render "users/menu"
  = render :partial => "users/info", :locals => {:user => @user}
= render :partial => "users/reputation", :locals => {:user => @user}
= render :partial => "users/recent_replies", :locals => {:replies => @replies}