<div class="box">
<%= markdown("
## 欢迎来到JLU—Zone

----------

### 我们的目标
我们致力于建立一个内容自由，方便广大吉大学子参与和交流的网络平台，丰富大家的生活和娱乐。

----------

### 网站功能
在这里你可以在**资料库模块（Wiki）**建立评论你喜欢的词条，共同建立一个方便大家的资料库；

可以在**社区**中和好友分享生活学习的经验;\n

可以**晒**出自己幸福或悲伤的照片。这里的每个人就绽放在你的身边也许是路过篮球场时看到的阳光男孩，也许是你自习时前排恬静的女孩。\n
我们谈天说地，我们评古论今，我们在书写青春的记忆，展现自己的风采。\n

----------

### 建议和bug通知
网站的成长和壮大需要大家的灌溉和呵护，如果你的本网站有更好地**建议**请联系我们：\n
[David Qin(代码狂热爱好者)][1]\n 
- email: davidqhr@gmail.com\n
[Mario Du(万事通兼大明白)][2]\n
- email: dujiakun@gmail.com\n
[Frank Li(气氛调和剂+赞美狂人)][3]\n  
- email: frankli@gmail.com\n
[Kevin Zhang(倔驴)][4]\n
- email: zhangbin17832674@126.com\n

-----

### 目前状态
目前的网站处于测试阶段，服务器位于国外，访问速度很难达到理想状态。待正式版本发布后，我们会承诺给大家一个良好的体验。

-----
### 加入我们
JLU-Zone基于rails、bootstrap框架开发，欢迎爱好者加入我们的开发团队



  [1]: http://qinhru.com
  [2]: http://dujiakun.com
  [3]: http://lixiaoyu.me
  [4]: http://zhangbin.qinhru.com
") %>
</div>
