<div class="side_bar">
  <a class="btn btn-success" href=<%= new_entry_path%>><%= itext('entry.new')%></a>
</div>

<div class="side_bar">
  <%= render_entry_categories%>
</div>

<div class="side_bar">
  <%= render_info_statistics%>
</div>
