<section class="box">
  <a class="btn btn-success" href=<%= new_entry_path%>><%= itext('entry.new')%></a>
</section>

<section class="box">
  <%= render_entry_categories%>
</section>

<section class="box">
  <%= render_info_statistics%>
</section>