<div id = "category" class = "well"><%= category_list%></div>
<div class="well">

<h1>这是WIKI主页</h1>

<%= markdown("
## markdown的插件redcarpet的实验

    class D
      ere
    end
* **I'm a Demo**
* ~~I'm a Demo~~
`I'm a Demo`

http://abc.com
![Alt text here](http://www.baidu.com/img/baidu_jgylogo3.gif) 
")%></div>

