<div class="control-group ">
  <div class="controls">
    <ul class="nav nav-tabs" style="width: 580px;">
      <li class="active" id="edit_model"><a href="#"><i class="icon-edit"></i><%= itext("entry.edit_model")%></li></a>
      <li id="preview_model"><a href="#"><i class="icon-file"></i><%= itext("entry.preview_model")%></li></a></li></a>
    </ul>
  </div>
</div>