<div class="control-group ">
<div class="controls">
<ul class="nav nav-tabs">
<li class="active" id="edit_model"><a><i class="icon-edit"></i>edit</li></a>
<li id="preview_model"><a><i class="icon-edit"></i>view</li></a>
</ul>

</div>
</div>