<a class="btn btn-success" href=<%= new_entry_path%>><%= itext('entry.new')%></a>
<div class="box">
  <ul>
    <% @entries.each do |entry|%>
    <% next if !can? :read, entry%>
      <li>
      <%= link_to entry.name, entry_path(entry)%>      
      </li>
    <% end %>
  </ul>
</div>
<%= will_paginate @entries%>