<div class="well">
  <h3><%= itext("entry.index", :category => current_category.name)%></h3>
  <ul id="entry_list">
    <% @entries.each do |entry|%>
      <li><a href=<%= entry_path entry%>><%= entry.name %></a></li>
    <% end %>
  </ul>
</div>