<section class="box">
  <h3><%= itext("entry.index", :category => current_category.name)%></h3>
  <ul>
    <% @entries.each do |entry|%>
    <% next if !can? :read, entry%>
      <li>
      <%= link_to entry.name, entry_path(entry)%>
      <%if entry.check == false%>
      <%= "(uncheck)"%>
      <%end%>
      </li>
    <% end %>
  </ul>
  <%= will_paginate @entries, :class => ""%>
</section>