<div class="well" id="entry_show">
  <%= show_entry_functional_bar @entry%>

  <h1 class="title"><%= @entry.name%></h1>
  <%= markdown(@entry.content)%>
  <%= show_entry_contributors @entry%>
  
</div>