<div class="box">
  <a class="btn btn-success" href=<%= new_topic_path%>><%= itext('topic.new')%></a>
</div>

<div class="box">
  热门帖子
</div>

<div class="box">
  高分帖子
</div>

<div class="box">
  <%= render_info_statistics%>
</div>