<div class="box no-padding">
  <header>标签导航</header>
  <table class="item-list">
    <tbody>
    <% TagCategory.all.each do |category| %>
      <tr>
        <td><%= category.name%></td>
        <td class="tags">
        <% category.tags.each do |tag|%>
          <%= link_to tag.name, tag %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>