<div class="box">
<div id="pictures" class="clearfix">
    
    <div class="item">
      <a href="http://www.flickr.com/photos/nemoorange/5013039951/" title="Stanley by Dave DeSandro, on Flickr"><img src="http://img.spriteapp.com/si/59/72/87acae83jw1drljvn12n6j_2.jpg" alt="Stanley" /></a>
    </div>
  
    <div class="item">
      <a href="http://www.flickr.com/photos/nemoorange/5013039885/" title="Officer by Dave DeSandro, on Flickr"><img src="http://img.spriteapp.com/si/1e/e9/87bee8eejw1drm59rtxsxj_2.jpg" alt="Officer" /></a>
      <a href="http://www.flickr.com/photos/nemoorange/5013039885/" title="Officer by Dave DeSandro, on Flickr"><img src="http://img.spriteapp.com/si/1e/e9/87bee8eejw1drm59rtxsxj_2.jpg" alt="Officer" /></a>
      <a href="http://www.flickr.com/photos/nemoorange/5013039885/" title="Officer by Dave DeSandro, on Flickr"><img src="http://img.spriteapp.com/si/1e/e9/87bee8eejw1drm59rtxsxj_2.jpg" alt="Officer" /></a>
    </div>
  
    <div class="item">
      <a href="http://www.865q.cn/qqfzl/UploadPic/2009-8/2009831134032200.jpg" title="Tony by Dave DeSandro, on Flickr"><img src="http://www.865q.cn/qqfzl/UploadPic/2009-8/2009831134032200.jpg" alt="Tony" /></a>
    </div>
  
    <div class="item">
      <a href="http://www.flickr.com/photos/nemoorange/5013646070/" title="Kendra by Dave DeSandro, on Flickr"><img src="http://img.spriteapp.com/si/3f/b6/9770ce78jw1drlmc0rlxyj.jpg" alt="Kendra" /></a>
    </div>
  
    <div class="item">
      <a href="http://www.flickr.com/photos/nemoorange/5013039541/" title="Giraffe by Dave DeSandro, on Flickr"><img src="http://ww3.sinaimg.cn/mw205/a01660e0jw1drd404g3gcj.jpg" alt="Giraffe" /></a>
    </div>
  
    <div class="item">
      <a href="http://www.flickr.com/photos/nemoorange/5013039741/" title="Gavin by Dave DeSandro, on Flickr"><img src="http://img.spriteapp.com/si/f8/35/87acae83jw1drlm1njspcg.gif" alt="Gavin" /></a>
    </div>
  
    <div class="item">
      <a href="http://www.flickr.com/photos/nemoorange/5013039697/" title="Anita by Dave DeSandro, on Flickr"><img src="http://img.spriteapp.com/si/dd/a6/633f6f25jw1drlkvt0thij.jpg" alt="Anita" /></a>
    </div>
  
    <div class="item">
      <a href="http://www.flickr.com/photos/nemoorange/5013646314/" title="Take My Portrait by Dave DeSandro, on Flickr"><img src="http://img.spriteapp.com/si/04/49/63943f51jw1drlk3wmrqqj_2.jpg"   alt="Take My Portrait" /></a>
    </div>
  
    <div class="item">
      <a href="http://www.flickr.com/photos/nemoorange/5013040075/" title="Wonder by Dave DeSandro, on Flickr"><img src="http://img.spriteapp.com/si/48/76/92c9aa30jw1drlf6ezbbdj.jpg" alt="Wonder" /></a>
    </div>

    <div class="item">
      <a href="http://www.flickr.com/photos/nemoorange/5013040075/" title="Wonder by Dave DeSandro, on Flickr"><img src="http://img.spriteapp.com/si/0a/7e/63943f51gw1drl908s0zmj_2.jpg" alt="Wonder" /></a>
    </div>

    <div class="item">
      <a href="http://www.flickr.com/photos/nemoorange/5013040075/" title="Wonder by Dave DeSandro, on Flickr"><img src="http://img.spriteapp.com/si/22/54/9770ce78jw1drliv6gimsj.jpg" alt="Wonder" /></a>
    </div>
  
</div> 
</div> 
