
<div id="photo-index-show">
  <div class="left">
    <img src="assets/photo_index.jpeg" width="628" height="300">
    <a class="cov" href="">时光停摆，糖浆般的回忆</a>
    <a class="idxalowner" href="/people/52671/">
      <!-- <img width="48" height="48" src="" align="middle"> -->
    <!-- JLU-team <br> 收集</a> -->
  </div>


  <div class="right">
    <div class="social">
    <%= link_to "立即上传我的图片", new_photo_path, :class => "btn btn-success btn-large", :id => "banreglink"%>
      <div style="margin-top:7px;">
        记录身边的点滴
      </div>
    </div>
    <p>这一刻，朋友们的分享...</p>
    <div id="costat">
      <div id="coslider" class="clr">
        <div id="multiple_slides_visible"></div>
      </dl>
    </div>
  </div>
</div>
</div>
