.box
  %h3
    记录你我身边的吉大
  / #photos
  /   - @albums.each do |album|
  /     .item
  /       .time
  /         = link_to '@' + album.user.nickname, album.user
  /         = time_ago album.created_at
  /         发布
  /         %span.pull-right
  /           - if album.user == current_user
  /           = link_to "编辑", edit_photo_path(album)
  /           - else
  /             = show_follow_button(album)
  /       .description
  /         = album.description
  /       - album.photos.each do |item|
  /         = link_to tag(:img, :src => item.img_url), photo_path(album)
