#category{
	padding-left: 25px;
	padding-bottom: 20px;
}
#category_list {
	/* recommended styles for kwicks ul container */
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
#category_list li{
	/* these are required, but the values are up to you (must be pixel) */
	width: 160px;
	height: 100px;

	/*do not change these */
	display: block;
	overflow: hidden;
	padding: 0;  /* if you need padding, do so with an inner div (or implement your own box-model hack) */
}

#category_1 {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-border-radius-topleft: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomleft: 8px;
	background-color: #53b388;
	background-image: url('./1.gif'); 
}
#category_2 {
	background-color: #5a69a9;
	background-image: url('./2.gif');
}
#category_3 {
	background-color: #c26468;
	background-image: url('./3.gif');
}
#category_4 {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-radius-topright: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-radius-bottomright: 8px;
  -moz-border-radius-bottomright: 8px; 
	background-color: #bf7cc7;
	background-image: url('./4.gif');
}
