.notice{
	border-top: 1px solid #DDD;
	padding: 8px 10px;
	height: 75px;
}

#notices .tools{
	padding-bottom: 10px;
}

.notice_infos{
	padding-left: 90px;
}

.notice_info{
	margin-top: 4px;
	color: #999;
	height: 30px;
}

#notices .headimg{
	padding-right: 8px;
	width: 72px;
	margin-left: 0;
}

#notices .notice_content{
	padding-left: 100px;
	line-height: 180%;
	font-size: 14px;

}

#notices .notice_content p{
	padding-top: 8px;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow:hidden;
	white-space:nowrap;
	width: 80%;
}

.from_name a{
	color: #666;
	font-weight: bold;
	text-decoration: underline;
}

.notice_content .at_user{
	color: #333;
	font-weight: bold;
}

#notices .pull-right a:hover{
	text-decoration:none;
	color: #FFF;
}

#notices .delete_notice:hover{
	background-color: #B94A48;
}

#notices .one_unread_notice:hover{
	background-color: #468847
}

#notices .one_read_notice:hover{
	background-color: #468847
}
