.indexcarousel{
	margin-bottom: 20px;
	zoom: 1;
	width: 100%;
	line-height: 1.5;
	.carousel{
		border-top: 1px solid #ECECEC;
		border-right: 1px solid #ECECEC;
		background-color: #F7F7F7;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.32);
		.left{
			position: relative;
			float: left;
			width: 628px;
			height: 300px;
			img{
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
			}
			.cov{
				position: absolute;
				z-index: 2;
				top: 0;
				left: 0;
				width: 604px;
				height: 280px;
				padding: 20px 0 0 24px;
				letter-spacing: 1px;
				_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://cdn.duitang.com/uploads/people/201201/16/20120116194236_yKETE.png',sizingMethod='crop');
				background: url(http://cdn.duitang.com/uploads/people/201201/16/20120116194236_yKETE.png) 0 0 no-repeat;
				_background: none;
				font-family: '微软雅黑E\8F6F\96C5\9ED1';
				font-size: 30px;
				font-weight: normal;
				text-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
				&:link, &:visited{
					text-decoration: none;
					color: white;
				}
			}
		}
		.picowner{
			position: absolute;
			z-index: 3;
			top: auto;
			left: 24px;
			bottom: 24px;
			width: 410px;
			height: 48px;
			line-height: 25px;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
			&:link, &:visited{
				color: white;
			}
			img{
				position: static;
				float: left;
				margin-right: 8px;
			}
		}
		.right{
			float: right;
			width: 276px;
			margin: 0 24px 0 0;
			.social{
				height: 70px;
				padding: 24px 0 0 0;
				border-bottom: 1px solid #EBEBEB;
				a{
					float: left;
				}
				.btn-large{
					padding: 15px 20px;
					font-size: 20px;
				}
				div{
					float: left;
					line-height: 21px;
					padding: 0 0 8px 0;
					margin: 0 0 0 6px;
					color: #BBB;
				}
			}
			p{
				border-top: 1px solid white;
				padding: 8px 0 0 4px;
				letter-spacing: 2px;
				color: #88B3D8;
				font-family: '微软雅黑E\8F6F\96C5\9ED1';
				font-size: 16px;
			}
		}
	}
}

.clr{
	zoom: 1;
	&::after{
		content: " 0020";
		display: block;
		height: 0;
		overflow: hidden;
		clear: both;
	};
}