#pictures .item {
  margin: 8px;
  padding: 10px;
  color:#A4839E;
  width: 251px;
  background-color:#fff;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  box-shadow: 0 1px 3px rgba(34,25,25,.6);
  -moz-box-shadow: 0 1px 3px rgba(34,25,25,.6);
  -webkit-box-shadow: 0 1px 3px rgba(34,25,25,.6);
}

#pictures .item h2 {
  font-size: 14px;
  font-weight: 200;
}

#pictures .item img{
  display: block;
  width: 100%;
  padding-bottom: 8px;
}