#user_menu .info {
	padding: 0 10px 10px 10px;
	border-bottom: 1px solid #DDD;
	margin: 0 -10px;
	margin-bottom: 20px;
}
.popup_tab_portrait {
	width: 64px;
	height: 64px;
	padding: 5% 0 0 5%;
}

.users-list{line-height:18px;text-align:left;overflow:hidden;_zoom:1}
.users-list li{width:200px;float:left;*margin-right:-1px}
.users-list a,.users-list a:hover strong{background-color:#f2f2f2;background-image:-webkit-linear-gradient(#f8f8f8,#f2f2f2);background-image:-moz-linear-gradient(#f8f8f8,#f2f2f2);background-image:linear-gradient(#f8f8f8,#f2f2f2)}
.users-list a{position:relative;display:block;height:36px;margin:4px;padding:4px 4px 4px 44px;color:#999;overflow:hidden;border:#ccc 1px solid;border-radius:2px;box-shadow:#eee 0 0 2px}
.users-list img,.users-list em,.users-list strong{-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out}
.users-list img{width:36px;height:36px;float:left;margin:0 8px 0 -40px;border-radius:2px}
.users-list em{color:#666;font-style:normal;margin-right:10px}
.users-list strong{color:#ddd;width:40px;text-align:right;position:absolute;right:6px;top:4px;font:bold 14px/16px microsoft yahei}
.users-list a:hover{border-color:#bbb;box-shadow:#ccc 0 0 2px;background-color:#fff;background-image:none}
.users-list a:hover img{opacity:.6;margin-left:0}
.users-list a:hover em{color:#EE8B17;font:bold 12px/36px microsoft yahei}
.users-list a:hover strong{color:#EE8B17;right:150px;top:0;text-align:center;border-right:#ccc 1px solid;height:44px;line-height:40px}

.userinfo span.role{
	font-weight: normal;
}

.reputation_info ul, .userinfo ul{
	list-style: none;
}

.reputation_info ul li, .userinfo ul li{
	font-size: 14px;
	line-height: 180%;
	border-bottom: 1px dashed #EEE;
	color: gray;
}

.reputation_info ul li span, .userinfo ul li span{
	color: #999;
	font-size: 12px;
	margin-right: 8px;
	display: inline-block;
	width: 100px;
	text-align: right;
}

.reply_count{
	width:50px;
}

.reply_at{
	width:100px;
}