.box.no-padding
  = render_breadcrumb
  .topics
    - @topics.each do |topic|
      - next if resource_lock?(topic)
      = render :partial => "community/topic_line", :locals => {:topic => topic}
= will_paginate(@topics)
= render :partial => "community/tag_nav"
  