<div class="box">
<header>置顶话题</header>
<ul>
<% @top_topics.each do |topic| %>
<li><%= link_to topic.name, topic %></li>
<% end %>
</ul>
</div>

<div class="box">
<header>活动通知</header>
<ul>
<% @activities.each do |activity| %>
<li><%= link_to activity.name, activity %></li>
<% end %>
</ul>
</div>

<div class="box">
<header>赞助</header>
<ul>
<li>XXXXX</li>
<li>XXXXX</li>
</ul>
</div>

<div class="box">
<%= render_info_statistics %>
</div>