<div class="span3">
<div class = "well sidebar-nav">
<ul class ="nav nav-list">
<h1>这是主页</h1>
<h2>登录</h2>
</ul>
</div></div>

<div class="span9">
<div class="hero-unit">

<h2>搜索</h2>
<h2>最新词条</h2>
</div>
<%= show_list @newest_entries, :entry do |list| %>
  <% list.link_string_column :name%>
  <% list.link_string_column :fonder_name, :fonder%>
  <% list.link_string_column :last_editor_name, :last_editor%>
  <% list.string_column      :history_versions_size%>
<% end %>


</div>