<section class="box no-padding">
<table class="item-list">
<tbody>
<tr id="topic-485">
<td class="avatar">
<a href="/~pmq20"><img alt="8002c84eb4c18170632f8fb7efb09288" src="http://gravatar.com/avatar/8002c84eb4c18170632f8fb7efb09288.png?r=G&amp;s=48"></a>
</td>
<td>
<h3>
<a href="/topics/485">CodeCampo做得很棒！</a>
</h3>
<div class="info">
<span class="tags">
<a href="/topics/tagged/codecampo">codecampo</a>
</span>
<span class="author">
<a href="/~pmq20">pmq20</a>
</span>
<span class="time">
Created at
about 3 hours ago
</span>
</div>
</td>
<td class="reply-count last">
</td>
</tr>
<tr id="topic-461">
<td class="avatar">
<a href="/~Rei"><img alt="5aec84cd0b5479a0d1d89b6ffa2a9a20" src="http://gravatar.com/avatar/5aec84cd0b5479a0d1d89b6ffa2a9a20.png?r=G&amp;s=48"></a>
</td>
<td>
<h3>
<a href="/topics/461">尝试了一下把 haml 转成 slim</a>
</h3>
<div class="info">
<span class="tags">
<a href="/topics/tagged/haml">haml</a>
<a href="/topics/tagged/slim">slim</a>
</span>
<span class="author">
<a href="/~Rei">Rei</a>
</span>
<span class="time">
Created at
16 days ago
,
<a href="/~Rei">Rei</a>
Replied at
about 3 hours ago
</span>
</div>
</td>
<td class="reply-count last">
<a href="/topics/461">3</a>
</td>
</tr>
</tbody>
</table>
</section>