<div class="container">
  <div>
  <div class="pull-left" style="margin-right:10px;">
  <img src="/assets/foot_logo.jpg" style="width:40px;">
  </div>
  <p class="links">
  <a href="/about">关于本站</a> | <a href="/#">帮助推广</a> | <a href="/#">反馈</a> |
  </p>
  <p class="copyright">
  JLU wiki由广大热心朋友共同维护、扩充丰富内容。致力于建设JLU最完善的wiki平台。<br>
  布局样式学习<a href="https://ruby-china">ruby-china</a>，再此感谢ruby-china的作者及其维护人员。
  </p>
  </div>
</div>