<div class="footer">
  <div class="container">
    <p>尼玛尼玛尼玛尼玛尼玛尼玛尼玛尼玛尼玛尼玛尼玛尼玛尼玛尼玛尼玛尼玛尼玛尼玛尼玛尼玛尼玛尼玛尼玛尼玛</p>
    <ul class="footer-links">
      <li><a href="about.html" target="_blank">XXX</a></li>
      <li><a href="about.html" target="_blank">XXX</a></li>
    </ul>
  </div>
</div>