<div class="container">
  <div>
  <div class="pull-left" style="margin-right:10px;">
  <img src="/assets/foot_logo.jpg" style="width:40px;">
  </div>
  <p class="links">
  | <a href="/about">关于本站</a> | <a href="/#">反馈</a> |
  </p>
  <p class="copyright">
  我们致力于建立一个内容自由，方便广大吉大学子参与和交流的网络平台，丰富大家的生活和娱乐。<br>
  布局样式学习<a href="http://codecampo.com/">codecampo</a>，再此感谢codecampo及其作者Rei。
  </p>
  </div>
</div>
<%#= back_to_top%>